/*identifica que se carga un estilo predefinido a nuestro stage*/
.root{-fx-background-image: url("https://images3.alphacoders.com/719/719616.png"), url("/src/assets/logotec.png");
-fx-background-repeat: no-repeat;
-fx-background-size: cover, 250 300;
-fx-background-position: center;
}

.menu-bar {
-fx-background-color: #207CE5;
-fx-border-color: #000;
-fx-border-width: 2;
}


.menu-bar .label{
-fx-text-fill: white;
}

.menu:hover{
-fx-background-color: #CCC;
}

.menu-item .label {
-fx-text-fill: black;
}
/*https://images2.alphacoders.com/103/1039991.jpg*/